{% extends '::base.html.twig' %}

{% block title %}CoolSchoolproject{% endblock %}
{% block container %}
    <div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>Школа</th>
                <th>Классы</th>
                <th>Ученики</th>                                                                                                    
            </tr>
            {% for school in schools %}
                <tr>
                    <td><a href="{{ path('santa_coolschool_school_show', {'slug': school.slug}) }}">{{ school.name }}</a></td>
                    <td>{{ school.totalStudents }}</td>
                <td>{{ school.totalClasses }}</td>
                {% endfor %}
        </table>
    </div>
{% endblock %}