{% extends '::base.html.twig' %}

{% block title %}CoolSchoolproject{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-sm-6 col-md-4">
            {% for school in schools %}
            <div class="thumbnail">
                <img data-src="holder.js/300x300" alt="Здесь школьный логотип">
                <div class="caption">
                    <h3>{{ school.name }}</h3>
                    <p>{{ school.description }}</p>
                    <a href="#">Ученики <span class="badge">{{ school.totalStudents }}</span></a>
                    <a href="#">Ученики <span class="badge">{{ school.totalClasses }}</span></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}